.btn_coin {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid black !important;
    background: white !important;
    color: black !important;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 5px #aaa, 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 14px;
}

.btn_coin:hover {
    font-size: 13px;
    border: 2px solid black !important;
}

.btn_coin_machine {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid black !important;
    background: lightyellow !important;
    color: black !important;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 5px #aaa, 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    cursor: default !important;
}

.msg_no_coins {
    color: red;
}

.btn_product {
    border: 1px solid gray;
    border-radius: 10px;
}

.btn_product:hover {
    box-shadow: inset 0 0 5px #aaa, 0 2px 5px rgba(0, 0, 0, 0.2);
}

.btn_product_stock {
    background: lightyellow !important;
}

.btn_product_stock img {
    border-radius: 50% !important;
}

.img_product {
    width: 60px !important;
    margin: auto !important;
    display: block;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.blink {
    animation: blink 0.5s step-start infinite;
}

#message {
    font-size: 14px !important;
    text-align: center;
}

#message.error {
    color: red;
}

.btn_change_mode {
    border: 1px solid black;
    border-radius: 6px;
}

.btn_change_mode:hover {
    border: 2px solid black;
    box-shadow: inset 0 0 5px #aaa, 0 2px 5px rgba(0, 0, 0, 0.2);
    background: lightyellow;
    font-weight: bold;
}

.btn_change_mode.btn_change_mode_active {
    background: green;
    font-weight: bold;
    text-decoration: underline;
    color: white;
}